body {
    font-size: 15pt;
}
.container-header{
  background-color: #FFFBF0;
  display: flex;
  align-items: center;
  padding: 50px;
  
}
.header-text{
  color: #FABE4C;
  font-size: 50px;
}
.text-header{
  color: #363958;
  font-size: 50px;
}
.buy-now{
  background-color: #8CA725;
  padding: 10px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 8px;
  border: 0px;
  color: white;
}
.fas{
  padding-right: 8px;
}
.image-model{
  padding-left: 50px;
}

/*----woman jacket----*/

.woman-jacket-list{
  display: flex;
}
.jacket-woman-title{
  padding-left: 50px;
}
.jacket-woman{
  margin: 15px;
  box-shadow: 2px 2px 5px 5px #F7F7F7;
  border-radius: 15px;
}
.jacket-1{
  background-color: #F0F0F0;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 15px;
}
.jacket-woman-details{
  padding-left: 20px;
}
.jacket-price{
  padding-left: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.jacket-price h2{
  color: #FABE4C;
}

/*--------END--------*/

.end{
  display: flex;
  margin-left: 20px;
}
.end-img-12{
  display: flex;
  align-items: center;
  gap: 25px;
  box-shadow: 2px 2px 5px 5px #F7F7F7;
  padding: 20px;
  border-radius: 15px;
}
.end-img-13 {
  display: flex;
  align-items: center;
  gap: 25px;
  box-shadow: 2px 2px 5px 5px #F7F7F7;
  padding: 20px;
  border-radius: 15px;
}
.end-img-14 {
  display: flex;
  align-items: center;
  gap: 25px;
  box-shadow: 2px 2px 5px 5px #F7F7F7;
  padding: 20px;
  border-radius: 15px;
}
.end-shopping{
  align-items: center;
  padding-left: 50px;
  position: relative;
  top: 50px;
}